# ignore dist tempfiles
dist/

# ignore python cache files
__pycache__/
*.py[cod]

# ignore poetry environment
.venv/

# ignore everything in .vscode directory except settings.json
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
